:root {
    --primary-color: #44EF84;
    --secondary-color: #8DD79D;
    --tertiary-color: #3BA699;
    --primary-border-color: #169D98;
    --secondary-border-color: #1D6885;
}

/* universal selectors */
* {
    margin: 0;
    padding: 0;
}

body {
    background: #eee;
}

/* container start */
.container {
    width: 800px;
    margin: 50px auto;
    height: 400px;
    padding: 10px;
    background: var(--primary-color);
    border: 5px solid var(--primary-border-color);
    border-radius: 20px;
}

.container-header h1 {
    font-size: 35px;
    text-transform: uppercase;
}

.container-header ul li {
    list-style: none;
}

.container-header h1,
.container-header p {
    text-align: center;
    margin: 15px 0;
}

.password-display {
    background: #fff;
    margin-top: 10px;
    color: #000;
    margin: 0 auto;
    width: 700px;
    height: 125px;
    border: 2px solid var(--secondary-border-color);
    text-align: center;
    font-size: 25px;
}

.container-footer {
    margin: 0 auto;
    width: 175px;
    margin-top: 20px;
}

#generate {
    padding: 10px 20px;
    background: var(--tertiary-color);
    color: #fff;
    font-weight: bold;
    transition: 300ms;
    -moz-transition: 300ms;
    -o-transition: 300ms;
    -webkit-transition: 300ms;
}

#generate:hover {
    cursor: pointer;
    background: #000;
    color: #fff;
    transition: 300ms;
    -moz-transition: 300ms;
    -o-transition: 300ms;
    -webkit-transition: 300ms;
}
/* container end */